TASK_3/task3.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="task3" targetNamespace="http://www.example.org/task3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/task3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="task3_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="task3SOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema targetNamespace="http://www.example.org/task3/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="task3_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="SubRequest">
    <wsdl:part element="tns:Sub" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubResponse">
    <wsdl:part element="tns:SubResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DivRequest">
  	<wsdl:part element="tns:Div" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DivResponse">
  	<wsdl:part element="tns:DivResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="task3">
    <wsdl:operation name="Sub">
      <wsdl:input message="tns:SubRequest"/>
      <wsdl:output message="tns:SubResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Div">
    	<wsdl:input message="tns:DivRequest"/>
    	<wsdl:output message="tns:DivResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="task3SOAP" type="tns:task3">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Sub">
  		<soap:operation soapAction="http://www.example.org/task3/Sub" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Div">
  		<soap:operation soapAction="http://www.example.org/task3/Div" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="task3">
    <wsdl:port binding="tns:task3SOAP" name="task3SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>